*{
    margin: 0px;
    padding: 0px;
    border: 0px;  
}
body{
    background-color:  #0f1320 ;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px 25px 20px;
}
.navigation{
    display:flex;
    align-items: center;
    gap:60px;
}
.nav{
    display: flex;
    gap: 40px;
}
.logo{
    width: 10rem;
}
.link{
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.botones{
    display: flex;
    gap: 2rem;
}
.singIn{    
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.singUp{
    background-color: transparent;
    border: 1px solid #22A75D;
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 40px;
}
.section-1{
    background-image: url(img/Frame\ .png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 2rem;
}
.content-1{
    display: flex;
}
.texto-1 span{
    color: #0084ec;
}
.texto-1{
    color: #DDE2FF;
    width: 70rem;
    margin-top: 12rem;
    padding-left: 8rem;
}
.texto-1 h1{
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.60rem;
}
.celular-1{
    width: 200rem;
}
.celular-1 img{
    width: 100%;
}
.More{
    background-color: #22A75D;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 3rem;
    margin-top: 3rem;
    box-shadow: 0px 5px 10px 0px #22A75D;
}
.carta {
    background-color: #111321;
    padding: 40px;
    border-radius: 15px;
    width: 530px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-left: 7rem;
    margin-top: -10rem;
}

.icono {
    background-color: #1f2233;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icono img {
    margin-top: 19px;
    width: 100px;
    height: 80px;
}

.contenido h2 {
    color: #cfd1e0;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.contenido .parte-1 {
    color: #20c96b;
}

.contenido p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #DDE2FF;
}

.learn-more {
    color: #20c96b;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}
.learn-more:hover {
    text-decoration: underline;
}


.carta-2{
    background-color: #111321;
    padding: 40px;
    border-radius: 15px;
    width: 530px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-left: 50rem;
    margin-top: -10rem;
}

.icono-2{
    background-color: #1f2233;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.icono-2 img {
    margin-top: 19px;
    width: 100px;
    height: 80px;
}

.contenido-2 h2 {
    color: #cfd1e0;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.contenido-2 .parte-2 {
    color:#0084ec;
}

.contenido-2 p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #DDE2FF;
}

.learn-more-2{
    color: #2278D4;
    text-decoration: none; 
    font-weight: bold;
    display: inline-flex;
    align-items: center;
   
}
.learn-more:hover {
    text-decoration: underline;
}
.content-2{
    display: flex;
}

.imagenes{
    margin-top: 10rem;
    width: 50rem;
    height: 10rem;
}
.imagenes img{
    width: 100%;
}
.imagen-2{
    display: flex;
    align-items:flex-end;  
}
.texto-2{
    margin-top: -20rem;
    text-align: left;
    width: 40rem;
    margin-left: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30rem;
}
.texto-2 h2{
    font-size: 40px;
    margin-bottom: 25px;
}
.texto-2 h4{
    margin-bottom: 35px;
}
.texto-2 p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;
}
.part4 {
    background-color: #0F1320;
    border-radius: 0px 230px 0px 0px;
    height: 1550px;
}

.part4 .part1-4 {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.part4 .q1, .part4 .q2, .part4 .q3, .part4 .q4 {
    display: flex;
}

.part4 .p2021 {
    padding-top: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.part4 .part1-4 span {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
}

.part4 .part1-4 .q-1 span {
    color: #22A75D;
} 

.part4 .part1-4 .q-2 span {
    color: #2278D4;
} 

.part4 .part1-4 .q-3 span {
    color: #FFD100;
} 

.part4 .part1-4 .q-4 span {
    color: #E20613;
} 

.part4 .q-1 p, .part4 .q-2 p, .part4 .q-3 p, .part4 .q-4 p {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #ffffff;
    opacity: 0.7;
    width: 330px;
}

.part4 .p4 {
    width: 300px;
}

.part4 .q-1, .part4 .q-2, .part4 .q-3, .part4 .q-4 {
    padding-left: 10px;
} 

.part4 .part2-4 {
    display: flex;
    justify-content: space-around;
}

.part4 .part2-4 .img-4{
    width: 650px;
    padding-top: 117px;
}

.part4 .part2-4 .logo-4 {
    width: 80px;
    padding-left: 10px;
}

.part4 .part2-4 h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #ffffff;
    padding-left: 30px;
}

.part4 .part2-4 .p2-1-4 {
    display: flex;
    justify-content: flex-start;
}

.part4 .texto-2-4 {
    padding: 60px 65px 0 95px;
}

.part4 .part2-4 p {
    padding-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

.part4 .part2-4 .lastp-4{
    padding-bottom: 40px;
}

.part4 .part2-4 span {
    font-weight: 700;
}

.part4 .part2-4 a {
    text-decoration: none;
    color: white;
}

.part4 .part2-4 .boton-4{
    border: 1px solid #22A75D;
    width: 130px;
    height: 38px;
    text-align: center;
    padding-top: 15px;
    border-radius: 25px;
}
.texto-melo{
    line-height: 1.5rem;
}



/*medida para moviles*/
@media(min-width:320px) and (max-width:480px){
    .singIn{
        display: none;
    }
    .singUp{
        display: none;
    }
    .nav{
        display: none;
    }
    .menu{
        display: flex;
    }
}
/*medida tablets o Ipad*/
@media(min-width:768px) and (max-width:1024px){
    .singIn{
        display: none;
    }
    .singUp{
        display: none;
    }
    .nav{
        display: none;
    }
    .menu{
        display: flex;
    }
}